# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

!wp-config.php
!wp-content/
!wp-content/index.php
!wp-content/plugins/index.php
wp-content/plugins/*
!wp-content/themes/index.php
wp-content/themes/*
!wp-content/uploads/index.php
wp-content/uploads/*
